@model IEnumerable<Web_LR.Models.PageContents>
@{    
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>
    Page Content</h2>
<div>
    <a href="/Admin">Zpět na administraci</a></div>
<p>    
    <a href="/PageContent/Create/@ViewBag.PageId">Nový obsah</a>
</p>
<div class="fields">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.DisplayFor(modelItem => item.PageRoute.PageAddress)
                @Html.DisplayFor(modelItem => item.PageContentClasses.ClassName)
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </li>
            
        }
    </ul>
</div>
