@model IEnumerable<Web_LR.Models.Header>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    if (item.IsImage)
    {
        var imgPath = "~/Content/images/" + item.ImagePath;
        <div class="@item.HeaderClasses.ClassName">
        <img src="@Url.Content(imgPath)" alt="" />
        </div>
    }
}
