@model IEnumerable<Smarttrading_gb.Models.Menu>
@{    
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; 
}
<h2>
    Menu</h2>
<div>
    <a href="/Admin">Zpět na administraci</a></div>
<p>
    <a href="/Menu/Create">Nová položka menu</a>
</p>
<div class="fields">
    <ul>
        @foreach (var item in Model)
        {
            string pageAddress = item.PageRoute.PageAddress;
            if (pageAddress.Equals(string.Empty))
            {
                pageAddress = "/";
            }
            
            <li>@item.Name
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                <a href="/Menu/Edit/@item.Id">Edit </a></li> 
            
        
            //@Html.ActionLink("Details", "Details", new { id = item.Id }) |



        }
    </ul>
</div>
