@{
    ViewBag.Title = "Admin Section";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>
    Administrace</h2>
<div class="fields">
    <ul>        
        <li><span><a href="/Header/Index">Header</a> </span></li>
        <li><span><a href="/Menu/Index">Menu</a> </span></li>
        <li><span><a href="/Page/Index">Pages</a> </span></li>
        <li><span><a href="/Footer/Index">Footer</a> </span></li>
        <li><span><a href="/Culture/Index">Culture</a> </span></li>
    </ul>
</div>
